<header>
    <nav class="navbar navbar-light justify-content-between">
        <a [routerLink]="['/home']" class="navbar-brand text-white ml-4"><img src="../../assets/png/car.png" width="60"
                height="60">
            SpeedyRich</a>

        <a class="form-inline">
            <button [routerLink]="['/home']" class="btn btn-outline-light my-2 my-sm-0 mr-4">Volver al inicio</button>
        </a>
    </nav>

</header>

<main>


    <div class="card text-white m-3 shadow rounded">
        <img src="../../assets/2959281.jpg" class="card-img">
        <div class="card-img-overlay">
            <h1 class="m-5 card-title">¡SOLICITUD
                EXITOSA!</h1>
            <h4 class="card-text"><img class="mr-3" src="../../assets/png/loan.png" width="50" height="50">{{resultado}}
            </h4>
            <div class="m-5">
                <h3 class="mb-4">Te damos la bienvenida a SpeedyRich</h3>
                <h4 class="mb-4">Estamos felices de tenerte junto a nosotros.</h4>
                <p>Recuerda que con tu número de DNI y la clave facilada en el formulario,</p>
                <p>ya puedes acceder a tu espacio cliente.</p>
            </div>

        </div>
    </div>

</main>