<router-outlet></router-outlet>

<footer class="bglight">
    <div class="bgsecond border-top">
        <div class="container">
            <div class="row py-3 d-flex align-items-center">
                <div id="llamanos" class="col-lg-6 col-sm-12 text-center">
                    <h5><strong><i class="fa fa-phone fa-1x mr-2 grey-text"></i>LLÁMANOS AL 900 555 555</strong></h5>
                </div>
                <div class="col-lg-6 col-sm-12 text-center">
                    <ul class="social-icons">
                        <li><a href="https://www.facebook.com/" target="_blank" class="social-icon"> <i
                                    class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.twitter.com/" target="_blank" class="social-icon"> <i
                                    class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.instagram.com/" target="_blank" class="social-icon"> <i
                                    class="fa  fa-instagram"></i></a></li>
                        <li><a href="https://www.youtube.com/" target="_blank" class="social-icon"> <i
                                    class="fa fa-youtube"></i></a></li>
                        <li><a href="https://www.google.es/" target="_blank" class="social-icon"> <i
                                    class="fa fa-google"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row py-5 d-flex align-items-center">
            <div class="col-lg-6 col-sm-12">
                <img src="../../assets/png/car.png" width="55" height="55"><strong> SpeedyRich</strong><i
                    class="fa fa-registered"></i>
                <small> La manera más rápida de volverse rico. </small>
            </div>
            <div class="col-lg-6 col-sm-12">
                <ul class="infromacion text-center">
                    <a href="">
                        <li>AYUDA</li>
                    </a>
                    <a href="">
                        <li>TRATAMIENTO DE DATOS</li>
                    </a>
                    <a href="">
                        <li>INFORMACION LEGAL</li>
                    </a>
                </ul>
            </div>
        </div>
    </div>
</footer>