@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
  .social-icons li{
    display: inline;
    font-size: 1.2em;
    padding: 0.5em;
  }

  .social-icons li a{
    color: turquoise;
  }

.bglight{
background-color: rgb(238, 237, 237);
  }
  
.bgsecond{
    background-color: rgb(160, 107, 221);
  }

.infromacion li {
    font-size:15px;
    list-style: none;
    display: inline;
    color: black;
    padding: 0.5em;
  }

#llamanos{
    text-shadow: 1px 1px 1px rgba(214, 214, 214, 0.774);
  color: white;
}
