header .navbar {
  background-color: turquoise;
}
.bg-purple{
  background-color: rgb(160, 107, 221);
}

h6{
  color: rgb(139, 93, 192) ;
}
#enviar{
  background-color: rgb(160, 107, 221);
}

input.ng-valid.ng-touched {
    border: 3px solid green;
}

input.ng-invalid.ng-touched {
    border: 3px solid red;
}

.error {
    color: red;
}